

.hr_timesheet_line_my_tree table{
    table-layout: fixed;

}
.hr_timesheet_line_my_tree th:nth-child(1){
    width: 3%;
  }
.hr_timesheet_line_my_tree th:nth-child(2){
    width: 5%;
  }
.hr_timesheet_line_my_tree th:nth-child(3){
    width: 150px;
  }
.hr_timesheet_line_my_tree th:nth-child(4){
     width: 7%;
  }
.hr_timesheet_line_my_tree th:nth-child(5){
     width: 5%;
  }
.hr_timesheet_line_my_tree th:nth-child(6){
   width: 11%;
  }
.hr_timesheet_line_my_tree th:nth-child(7){
   width: 11%;
  }
.hr_timesheet_line_my_tree th:nth-child(8){
    width: 39%;
  }
.hr_timesheet_line_my_tree td:nth-child(8):hover {
        white-space: pre-wrap;
        width: 100%;
    }
.hr_timesheet_line_my_tree td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hr_timesheet_line_my_tree th:nth-child(9){
    width: 5%;
  }
.hr_timesheet_line_my_tree th:nth-child(10){
    width: 5%;
  }



.hr_timesheet_line_my_new_tree table{
      table-layout: fixed;
}
.hr_timesheet_line_my_new_tree th:nth-child(1){
    width: 3%;
  }
.hr_timesheet_line_my_new_tree th:nth-child(2){
    width: 150px;
  }
.hr_timesheet_line_my_new_tree th:nth-child(3){
     width: 7%;
  }
.hr_timesheet_line_my_new_tree th:nth-child(4){
     width: 5%;
  }
.hr_timesheet_line_my_new_tree th:nth-child(5){
   width: 11%;
  }
.hr_timesheet_line_my_new_tree th:nth-child(6){
   width: 11%;
  }
.hr_timesheet_line_my_new_tree th:nth-child(7){
    width: 38%;
  }

.hr_timesheet_line_my_new_tree td:nth-child(7) {
    width: 38%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hr_timesheet_line_my_new_tree td:nth-child(7):hover {
        white-space: pre-wrap;
        width: 100%;
    }

.hr_timesheet_line_my_new_tree th:nth-child(8){
    width: 5%;
  }
.hr_timesheet_line_my_new_tree th:nth-child(9){
    width: 5%;
  }


.hr_timesheet_line_my_new_tree td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hr_timesheet_line_tree table{
      table-layout: fixed;
}
.hr_timesheet_line_tree th:nth-child(1){
    width: 3%;
  }
.hr_timesheet_line_tree th:nth-child(2){
    width: 150px;
  }
.hr_timesheet_line_tree th:nth-child(3){
     width: 7%;
  }
.hr_timesheet_line_tree th:nth-child(4){
     width: 7%;
  }
.hr_timesheet_line_tree th:nth-child(5){
   width: 11%;
  }
.hr_timesheet_line_tree th:nth-child(6){
   width: 11%;
  }
.hr_timesheet_line_tree th:nth-child(7){
    width: 38%;
  }
.hr_timesheet_line_tree td:nth-child(7) {
    width: 38%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hr_timesheet_line_tree td:nth-child(7):hover {
        white-space: pre-wrap;
        width: 38%;
    }
.hr_timesheet_line_tree th:nth-child(8){
    width: 7%;
  }
.hr_timesheet_line_tree th:nth-child(9){
    width: 7%;
  }
.hr_timesheet_line_tree td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

